<div>
    <h4>Search Results</h4>
    <ul>
      {{#each locations}}
      <li>
        <div class="place">
          <h4>{{this.name}}</h4>
          <p>
            {{this.description}}
          </p>
          <button type="button" class="like" data-id="{{this.id}}">
            {{#if this.liked }}
            unlike
            {{else}}
            like
            {{/if}}
          </button>
        </div>
      </li>
      {{/each}}
    </ul>
</div>
