<% _.each(locations, function(location) { %>
    <li>
      <div class="title row">
        <span class="large-10 columns">
          <%= location.name %>
        </span>
        <span class="large-2 columns">
            <a href="#" class="like label secondary">Like</a>
        </span>
      </div>
    </li>
<% })%>
