<% _.each(locations, function(location) { %>
    <li>
        <h2 class="title">
            <%= location.name %>
        </h2>
        <span>
            <a href="#" class="like">Like</a>
        </span>
    </li>
<% })%>
