<% _.each(locations, function(location) { %>
    <li>
        <h2 class="title">
            <%= location.name %>
            <span>    
                <a href="#" class="like">Like</a>
            </span>
        </h2>
    </li>
<% })%>
