<% _.each(locations, function(location) { %>
    <div class="panel large-12 columns">
        <h5><%= location.name %></h5>
        <h6><%= location.description %></h6>
        <a href="#" class="like button tiny right">Like</a>
    </div>
<% })%>
